.sidebar {
  width: 220px;
  background: #352a24;
  padding-top: 20px;
  min-height: 100%;
  transition: width 0.25s ease;
}

.sidebar a {
  display: flex;
  align-items:center;
  gap: 14px;
  padding: 14px 20px;
  color: #ddd;
  text-decoration: none;
  font-size: 15px;
  border-left: 4px solid transparent;
}

.sidebar a mat-icon {
  font-size: 20px;
}

/* Hover */
.sidebar a:hover {
  background: #4a3a33;
}

/* Active */
.sidebar a.active {
  background: #e07a47;
  color: #fff;
  font-weight: 600;
  border-left: 3px solid #fff;
}

/* ===== COLLAPSED MODE ===== */
.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .label {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: var(--header-height);
    left: -220px;
    height: calc(100vh - var(--header-height));
    z-index: 1000;
  }

  .sidebar.mobile-open {
    left: 0;
  }
}
