<header class="app-header">
  <button class="hamburger" (click)="toggleSidebar()">☰</button>

  <div class="date">
    Date: {{ today | date:'dd MMM yyyy' }}
  </div>
</header>

<!-- Overlay (mobile only) -->
<div
  class="overlay"
  *ngIf="isMobileOpen"
  (click)="closeMobile()"
></div>

<div class="layout">

  <app-sidebar
    [mobileOpen]="isMobileOpen"
    [collapsed]="isCollapsed"
  ></app-sidebar>

  <main
    class="main-content"
    [class.collapsed]="isCollapsed"
    (click)="closeMobile()"
  >
    <router-outlet></router-outlet>
  </main>

</div>